
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <
            </div>
          
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="../img/icon/search.png" alt=""></a>
            <a href="#"><img src="../img/icon/heart.png" alt=""></a>
            <a href="#"><img src="../img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>FINDING ACCOMODATION</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>FINDING ACCOMODATION</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                               
                            </div>
                            <div class="header__top__hover">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/home-page"><img src="" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/home-page">Home</a></li>
                            <li class="active"><a href="/home-page/shop">Shop</a></li>
                             <li><a href="/home-page/shopping-cart">favorite</a></li>
                          
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                       
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/home-page">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" name ="RoomName" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">

                                                    <li>
                                                        <form method="get">
                                                        <button type="submit" class ="btn btn-light" value ="DeluxeRoom" name ="Category">Deluxe room</button>

                                                        </form>
                                                    </li>
                                                    <li>
                                                        <form method="get">
                                                        <button type="submit" class ="btn btn-light" value ="BoardingRoom" name ="Category">Boarding room </button>
                                                        </form>
                                                    </li>

                                                    <li>
                                                        <form method="get">
                                                        <button type="submit" class ="btn btn-light" value ="DormRoom" name ="Category">Dorm room </button>
                                                        </form>
                                                    </li>
                                                    <li>
                                                        <form method="get">
                                                        <button type="submit" class ="btn btn-light" value ="SuperRoom" name ="Category">Super room </button>
                                                        </form>
                                                    </li>
                                                    
                                                  
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                               
                                
                               
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <form method="get">
                                    <p>Sort by Price:</p>
                                    <select name="sortPrice">
                                      
                                        <option value="asc_price">low to high </option>
                                        <option value="dsc_price">high to low</option>
                                    </select>
                                    <button type="submit" class="btn btn-light">Select</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{#each rooms}}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{Image}}">
                                    <ul class="product__hover">
                                       
                                      
                                        </li>
                                        <li><a href="/home-page/shop/{{RoomID}}"><img src="../img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>{{RoomName}}</h6>
                                   
                                    <form method="post">
                                    <button type="submit" class="add-cart" name="roomId" value="{{RoomID}}">Add to favorite</a>
                                </form>
                                   
                                    <h5>${{Price}}</h5>
                                    
                                </div>
                            </div>
                        </div>
                        {{/each}}


                        
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <span>...</span>
                                <a href="#">21</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->